@using Project_IT_kariera.Data.Migrations
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<Project_IT_kariera.Models.Event>
<style>
    body {
        background: linear-gradient(to bottom, white, blue);
        color: #333;
        margin: 0;
        padding: 0;
    }
</style>
<table class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Images</th>
            <th>Date</th>
            <th> <a class="btn btn-primary btn-user btn-block" asp-area="" asp-controller="Event" asp-action="Add">Add Event</a></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var project in Model)
        {
                <tr>
                    <td>@project.Id</td>
                    <td>@project.Name</td>
                    <td>@project.Description</td>
                    <td>@project.Image</td>
                    <td>@project.Date</td>
                    <td><a href="Event/View/@project.Id">View</a></td>
                </tr>
        }
    </tbody>
</table>
